* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

.count-container p {
  font-size: 3rem;
  font-weight: 700;
}

.button-controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  width: 2.9rem;
  height: 1.7rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;

  background-color: yellowgreen;
  border: 1px solid black;
}

.change-by {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.change-by p {
  font-size: 1rem;
  font-weight: 700;
}

.change-by input {
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

#reset-btn {
  font-size: 0.7rem;
  font-weight: 600;
  width: 3.5rem;
  height: 1.6rem;
  margin-top: 0.6rem;
}
